* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#cabecario #logo {
  width: 200px;
  margin-top: 20px;
  margin-left: 45px;
}

#blur {
  background-color: rgba(0, 0, 0, 0.6);
}

body {
  background-image: url(../img/fundo_netflix.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

:root {
  --mainRed: #e50914;
  --letter-Color: #737373;
}

main {
  margin-bottom: 80px;
  margin-top: 10px;
}
#conteudo {
  background-color: rgba(0, 0, 0, 0.733);
  width: 450px;
  height: 600px;
  margin: 0 auto;
  border-radius: 5px;
}

#formulario fieldset {
  border: 0px;
  width: 450px;
  height: 250px;
  display: block;
}

#formulario legend {
  display: none;
}

#conteudo h1 {
  margin-left: 75px;
  margin-top: 70px;
  font-size: 30px;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: rgb(67, 67, 67);
  border: 0px;
  padding: 20px;
  border-radius: 3px;
}

.bnt_entrar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: var(--mainRed);
  color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  font-size: large;
}

.lembrar_e_ajuda div {
  display: inline;
}

.lembre_se_de_mim {
  margin-left: 75px;
  width: 20px;
}

.label_lembre-se {
  color: rgb(100, 100, 100);
}

.link_precisa_de_ajuda {
  text-decoration: none;
  margin-left: 50px;
  font-size: small;
  color: rgb(100, 100, 100);
}

.label_lembre-se {
  font-size: small;
}

.novo h2 {
  display: block;
  color: rgb(100, 100, 100);
  font-size: small;
  margin-left: 50px;
}
.assine_agora {
  text-decoration: none;
  color: white;
  display: block;
  font-size: small;
  margin-left: 0px;
}

.baguidodemonio div {
  display: inline-block;
  margin-top: 30px;
}

.texto_protecao {
  display: block;
  font-size: small;
  margin-left: 50px;
  margin-right: 50px;
  color: rgb(100, 100, 100);
}

.link_saibamais {
  font-size: small;
  text-decoration: none;
  color: rgb(26, 120, 235);
}

.baguidodemonio2 p {
  margin-top: 10px;
  border-spacing: 0px;
  display: inline-block;
}

#rodape {
  background-color: rgba(0, 0, 0, 0.733);
  height: 40vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

#rodape p {
  margin-left: 10rem;
  color: var(--letter-Color);
  gap: 20px;
}

#rodape p span {
  margin-right: 50px;
}

#contato {
  margin-bottom: 30px;
  font-size: 1.2em;
}

#caixa_de_idiomas select {
  width: 150px;
  height: 35px;
  display: block;
  margin-left: 300px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
}

#link_original a {
  text-decoration: none;
}
